<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Flight delay prediction system</title>
  </head>

  <body>
    <h1>Flight delay prediction system</h1>
    <form action = "http://localhost:5000/result" method = "POST" id="flight">
    <p>Origin
        <select name="ORIGIN" form="flight">
            {% for code in codes %}
            {% if code == 'ABE' %}
                <option  value={{code}} selected>{{ '{} - {}'.format(code, airports[code]) }}  </option> 
            {%else%}
                <option  value={{code}}>{{ '{} - {}'.format(code, airports[code]) }}  </option> 
            {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>Destination
        <select name="DEST" form="flight">
            {% for code in codes %}
            {% if code == 'ABI' %}
                <option  value={{code}} selected>{{ '{} - {}'.format(code, airports[code]) }}  </option> 
            {%else%}
                <option  value={{code}}>{{ '{} - {}'.format(code, airports[code]) }}  </option> 
            {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>Flight date
    <input type="date" name="DATE" value={{ currentdate }}>
    </p>
    
    <p>Time of the day
    <select name="HOUR" form="flight">
            {% for hour in range(24) %}
            {% if hour == currenthour %}
                <option  value={{hour}} selected> {{ hour }}  </option> 
            {%else%}
                <option  value={{hour}}> {{ hour }}  </option> 
            {% endif %}
            {% endfor %}
    </select>
    </p>
    <input type="submit" value = "Submit !"  form="flight">
    </form>





  </body>
</html>