<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Flight delay recommendation system</title>
  </head>

  <body>
    <h1>Flight delay recommendation system</h1>
    <h2>Origin</h2>
        <select id="ORIGIN">
            {% for code in codes %}
            {% if code == 'ABE' %}
                <option  value={{code}} selected>{{ '{} - {}'.format(code, airports[code]) }}  </option> 
            {%else%}
                <option  value={{code}}>{{ '{} - {}'.format(code, airports[code]) }}  </option> 
            {% endif %}
            {% endfor %}
        </select>
    <h2>Destination</h2>
        <select id="DEST">
            {% for code in codes %}
            {% if code == 'ABI' %}
                <option  value={{code}} selected>{{ '{} - {}'.format(code, airports[code]) }}  </option> 
            {%else%}
                <option  value={{code}}>{{ '{} - {}'.format(code, airports[code]) }}  </option> 
            {% endif %}
            {% endfor %}
        </select>
    <h2>Flight date</h2>
    <input type="date" name="date" value={{ currentdate }}>

    <h2>Time of the day</h2>
    <select id="HOUR">
            {% for hour in range(24) %}
            {% if hour == currenthour %}
                <option  value={{hour}} selected> {{ hour }}  </option> 
            {%else%}
                <option  value={{hour}}> {{ hour }}  </option> 
            {% endif %}
            {% endfor %}
    </select>
    <h1> </h1>
    <input type="submit" value = "Submit !">

    <h1>Flight delay results from A to B at 13h00</h1>

    <table border = "1" align="center">
        <tr bgcolor="grey">
            <td>Carrier</td><td>Predicted delay</td><td>Existing offer</td>
        </tr>
        <tr>
            <td>Delta</td><td>5 min delay</td><td>Yes</td>
        </tr>
        <tr>
            <td>Southwest</td><td>10 minutes early</td><td>No</td>
        </tr>
    </table> 


  </body>
</html>